// tablet
@media(max-width: 640px) {
    
}

// small monitor view
@media(max-width: 1024px) {
    
}

// medium monitor
@media(max-width: 1285px) {
    body {
        overflow-x: hidden;
    }
    nav {
        .nav-links {
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 8vh;
            background-color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            border-left: 1px solid $primaryColor;
            z-index: 5;

            li {
                opacity: 0;
            }
        }
        .burger {
            display: block;
        }
    }

    .mainContentWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        padding: 1em;
        grid-row-gap: 1em;
    }
}

// large monitor
@media(max-width: 1440px) {
    
}